NEXT_PUBLIC_PRIVY_APP_ID=your_privy_app_id
NEXT_PUBLIC_DATA_IDENTIFIER=your_data_identifier
NEXT_PUBLIC_REGISTRY_CONTRACT_ADDRESS=0x8370eE1a51B5F31cc10E2f4d786Ff20198B10BBE
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_BUNDLER_RPC_URL=https://rpc.zerodev.app/api/v3/YOUR_ZERODEV_PROJECT_ID/chain/84532
NEXT_PUBLIC_VALIDATOR_CONTRACT_ADDRESS=0x35ADB6b999AbcD5C9CdF2262c7190C7b96ABcE4C
PRIVY_APP_SECRET=your_privy_app_secret
